// CSS variables
@import "./variables.scss";

// Theme layout and skelet styling
@import "./theme.scss";

// Content-related styles
@import "./content.scss";

// Media queries for responsiveness (optimizations for various screen sizes)
@import "./responsiveness.scss"

a.db_button {
  text-decoration: none;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  overflow: visible;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;

  &:hover {
    color: var(--highlight-inverse-contrast);
    background-color: var(--highlight-inverse);
  }
}

span.db_button {
  text-decoration: none;
  background-color: var(--highlight);
  color: var(--highlight-contrast);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  overflow: visible;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;

  &:hover {
    color: var(--highlight-inverse-contrast);
    background-color: var(--highlight-inverse);
  }
}

/* Define the grid layout */
ul.grid-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap between items as needed */
}

/* Optional: Style the list items to look like grid items */
ul.grid-list li {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
}

.smaller-font {
    font-size: 12px;
}

/* for the map */
.licenses-info-popup {
  background: #e2dfd8;
	box-shadow: 0px 0px 2px #888;
	border-radius: 4px;
	display: inline-block;
	padding: 6px;
	font-family: arial;
	font-size: 12px;
}
.state-info {
	border-bottom: 1px solid rgb(223, 223, 223.6);
	padding-bottom: 1px;
	margin-bottom: 1px;
	&__value {
		font-weight: bold;
	}
}
.licenses-info {
	margin-bottom: 0px;
	display: flex;
	&__label {
		padding-left: 8px;
		position: relative;
		&::before {
			left: 0;
			background: orange;
			content: "";
			display: block;
			height: 16px;
			position: absolute;
			width: 3px;
		}
	}

	&__count-info {
		flex-grow: 1;
		text-align: left;
	}
	&__count {
		font-weight: bold;
		margin-bottom: 0px;
	}
	&__percentage {
		font-weight: bold;
		margin-bottom: 0px;
	}
}
