<div>
<canvas id="heatmap-id"></canvas>
</div>
<script>
  async function get_state_data() {
    return crime_db.then((data) => {
        let df = data.df;
        let total = df.length;
        // use d3 to group by State
        let df_grouped = d3.group(df, d => d.State);
        // convert the grouped rows to a map of row counts
        df_grouped = new Map(Array.from(df_grouped, ([key, value]) => [key, value.length]));
        return df_grouped;
    });
  }
const getOrCreateTooltip = (chart) => {
  let tooltipEl = chart.canvas.parentNode.querySelector("div");
  if (!tooltipEl) {
    tooltipEl = document.createElement("div");
    tooltipEl.classList.add("licenses-info-popup");
    tooltipEl.style.opacity = 1;
    tooltipEl.style.pointerEvents = "none";
    tooltipEl.style.position = "absolute";
    tooltipEl.style.transform = "translate(-50%, 0)";
    tooltipEl.style.transition = "all .1s ease";
    chart.canvas.parentNode.appendChild(tooltipEl);
  }
  return tooltipEl;
};
const externalTooltipHandler = (context) => {
  // Tooltip Element
  const { chart, tooltip } = context;
  const tooltipEl = getOrCreateTooltip(chart);
  // Hide if no tooltip
  if (tooltip.opacity === 0) {
    tooltipEl.style.opacity = 0;
    return;
  }
  // Set Body
  if (tooltip.body) {
    const titleLines = tooltip.title || [];
    const bodyLines = tooltip.body.map((b) => b.lines);
    const raw = tooltip.dataPoints[0].raw;
    const pop = raw.pop;
    const crimes = raw.crimes;
    const colors = tooltip.labelColors[0];
    // Update Info
    tooltipEl.innerHTML = `
      <div>
        <div class="state-info">
          <div class="state-info__value">${bodyLines}</div>
        </div>
        <div class="licenses-info">
          <div class="licenses-info__count-info">
            <div class="licenses-info__count">Pop: ${(pop/1000000).toFixed(1)}M</div>
            <div class="licenses-info__percentage">Crimes: ${crimes}</div>
          </div>
        </div>
      </div>
    `;
  }
  const { offsetLeft: positionX, offsetTop: positionY } = chart.canvas;
  // Display, position, and set styles for font
  tooltipEl.style.opacity = 1;
  tooltipEl.style.left = positionX + tooltip.caretX + "px";
  tooltipEl.style.top = positionY + tooltip.caretY + "px";
  tooltipEl.style.font = tooltip.options.bodyFont.string;
  tooltipEl.style.padding =
  tooltip.options.padding + "px " + tooltip.options.padding + "px";
};
  fetch('https://unpkg.com/us-atlas/states-10m.json').then((r) => r.json()).then((us) => {
    const nation = ChartGeo.topojson.feature(us, us.objects.nation).features[0];
    const states = ChartGeo.topojson.feature(us, us.objects.states).features;
    const labels = states.map((d) => d.properties.name);
    get_state_data().then((data) => {
      let values = states.map((d) => {
        let state = convertStateToAbbr(d.properties.name);
        let pop = populationOfState(state);
        if (data.has(state)) {
          let v = data.get(state)/pop;
          return ({feature: d, value: v, pop: pop, crimes: data.get(state)});
        }
        else return ({feature: d, value: null, pop: pop, crimes: 0});
      });
      values = values.map((row) => {
        if (row.value == null) return row;
        else {
          row.value *= 1e6; // per million
          row.value = Math.round(row.value * 100) / 100;
          return row;
        }
      });
      values = values.map((row) => {
        return row;
      });
      const chart = new Chart(document.getElementById("heatmap-id").getContext("2d"), {
        type: 'choropleth',
        data: {
          labels: labels,
          datasets: [{
            hoverBackgroundColor: "orange",
            label: 'States',
            outline: nation,
            data: values,
          }]
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: 'Crimes against children per million population',
              font: {
                size: 14,
              },
            },
            tooltip: {
              enabled: false,
              external: externalTooltipHandler,
              position: "average",
            },
            legend: {
              display: false
            },
          },
          scales: {
            projection: {
              axis: 'xy',
              projection: 'albersUsa'  
            },
            color: {
              axis: 'x',
              interpolate: 'interpolateOrRd',
              quantize: 20,
              display: true,
            }
          },
        }
      });
    });
  });
</script>
