{{ $summarize := or (.Get "summary") "true" }}
{{ $chart_type := or (.Get "chart_type") "bar" }}
{{ $exclude := or (.Get "exclude") "" }}
<div>
  <canvas id='{{ .Get "id"}}' width='{{ .Get "width" }}' height='{{ .Get "height" }}'></canvas>
  <script>
    $(function() {
      
        const chart_type = '{{ $chart_type }}';
      if (chart_type !== 'bar' && chart_type !== 'pie') {
        throw new Error(`Invalid chart type: ${chart_type}`);
      }
      let show_legend = false;
      if (chart_type === 'pie') {
        show_legend = true;
      }

      crime_db.then((args) => {
        let df = args.df;
        let double_counted = args.double_counted;
        let exclude = '{{ $exclude }}';
        if (exclude.length !== 0) {
          let exclude_list = exclude.split(',');
          df = df.filter(function(d) {
            return !exclude_list.includes(d.Category);
          });
        }
        let id = '{{ .Get "id" }}';
        let ctx = document.getElementById(id).getContext('2d');
        let summarize = /^true$/i.test('{{ $summarize }}');
        let summary = summarize_data(df, summarize);
        let total_cases = summary.values.reduce((ps, a) => ps + a, 0);
        total_cases -= double_counted;
        // if the data contains a row with a label 'Not Listed', remove it from the list and add 
        // it to the rear of the list
        let labels = summary.labels;
        let values = summary.values;
        let not_listed_index = labels.indexOf('Not Listed');
        if (not_listed_index !== -1) {
          v = values[not_listed_index]
          labels.splice(not_listed_index, 1);
          values.splice(not_listed_index, 1);
          labels.push('Not Listed');
          values.push(v);
        }
        // replace 'Trans' with 'Transgender' in the labels array
        for (i = 0; i < labels.length; i++) {
          if (labels[i] == "Trans")
            labels[i] = "Transgender";
        }

        let chart = new Chart(ctx, {
          type: '{{ $chart_type }}',
          data: {
            labels: labels,
            datasets: [{
              label: 'Total Crimes',
              data: values,
            }]
          },
          plugins: [
            autocolors,
          ],
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              tooltip: {
                callbacks: {
                  label: (context) => {
                    const dataIndex = context.dataIndex;
                    const datasetIndex = context.datasetIndex;
                    const value = summary.values[dataIndex];
                    const pct = (value / total_cases * 100).toFixed(2);
                    return `${value}/${total_cases} cases: ${pct}%`;
                  }
                }
              },
              autocolors: {
                mode: 'data',
              },
              legend: {
                display: show_legend,
              },
            },
          },
        });
      });
    });
  </script>
</div>
